header{
    background-color: rgba(183, 255, 249, 0.884);
}
h1{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(141, 83, 196);
}
body{
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(183, 255, 249, 0.884);
}
